.Background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: block;
  background-color: rgb(0, 0, 0, 0.7);
  transition: all 1s ease-in-out;

  justify-content: center;
  align-items: center;
}

.Modal {
  background-color: white;
  width: 60%;
  height: 50%;
  z-index: 99;

  position: absolute;
  transform: translateX(-50%) translateY(-50%);

  top: 50%;
  left: 50%;

  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
}

.topView {
  position: relative;

  padding: 20px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.CloseIcon {
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  margin: auto;
}

.titleText {
  font-size: 18px;
  font-weight: 600;
  font-family: "OmYu";
}

.menuItem {
  font-family: "OmYu";
  font-size: 15px;
  color: black;
  height: 30px;
  padding: 10px;

  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;

  display: flex;
  align-items: center;
  justify-content: center;
}

.BottomText {
  width: 100%;
  position: absolute;
  bottom: 20px;

  font-family: "OmYu";
  font-size: 15px;
  color: rgb(129, 129, 129);
}
